[Unit]
Description=homebooru backend server
After=network.target

[Service]
Type=exec
Environment="DATA_DIRECTORY=$DATA_DIR"
Environment=PORT=$BACKEND_PORT
ExecStart=node $BACKEND_DIR/index.js
WorkingDirectory=$BACKEND_DIR
User=$BOORU_USER
Group=$BOORU_GROUP
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=homebooru

[Install]
WantedBy=default.target
RequiredBy=network.target
