ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;

    padding: 0;

    list-style: none;
}

li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.0em;

    > .name {
        flex-grow: 1;
    }
}

.edit {
    text-decoration: none;
}
