ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 0.5em;

    padding: 0;

    list-style: none;
}

li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5em;

    width: 100%;

    &.uploading::before {
        content: "⬆️ ";
    }

    &.done::before {
        content: "✅ ";
    }

    &.error::before {
        content: "❌ ";
    }
}

span {
    white-space: nowrap;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.spacer {
    flex-grow: 1;
}
