hr {
    color: var(--foreground);
}

.disabled {
    color: var(--disabled);
    font-style: italic;
}

.button-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.0em;

    > button {
        flex-grow: 1;
    }
}
