.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    width: 100%;
    height: 100%;
    aspect-ratio: initial;
    overflow: hidden;

    > * {
        width: 100%;
        overflow: hidden;
    }

    img, video {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    &.full:has(img) {
        position: absolute;

        width: 100dvw;
        height: 100dvh;
        background-color: black;

        inset: 0;

        z-index: 999;
    }

    nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        > button {
            flex-grow: 1;

            font-weight: bold;
        }
    }

    &.full {
        nav {
            visibility: hidden;
        }
    }
}
