.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    aspect-ratio: initial;
    overflow: hidden;

    > * {
        width: 100%;
        overflow: hidden;
    }

    img, video {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    &.full:has(img) {
        position: absolute;

        width: 100dvw;
        height: 100dvh;
        background-color: black;

        inset: 0;

        z-index: 999;
    }
}
