:host {
    position: absolute;
    top: 100%;
    left: 0;
}

ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 0.5em;

    padding: 0.5em 1em;
    margin: 0;

    background-color: var(--background);

    border: 2px solid var(--foreground);
    border-radius: var(--roundness);

    list-style: none;

    box-sizing: 0px 2px 2px black;

    visibility: collapse;

    &:has(li) {
        visibility: visible;
    }

    li {
        --tag-color: var(--foreground);

        color: var(--tag-color);
        cursor: pointer;

        &.selected {
            color: var(--background);
            background-color: lch(from var(--tag-color) calc(l + 20) c h);
        }

        &:hover {
            color: var(--background);
            background-color: var(--hover);
        }
    }
}
